<header x-data="{navbarModalOpen: false}" class="mb-4 flex items-center justify-between py-4 md:py-8 mx-auto max-w-screen-2xl px-4 md:px-8">
    <!-- logo - start -->
    <a href="/" class="text-black-800 inline-flex items-center gap-2.5 text-2xl font-bold md:text-3xl" aria-label="logo">
        <img src="{{site.baseurl}}/assets/img/AppBarLogoB.png" loading="lazy" alt="AppBar Ltd. Logo" width="150" class="object-cover" />
    </a>
    <!-- logo - end -->
    <!-- buttons - start -->
    <nav class="gap-5 flex">
        <div class="block lg:hidden rounded-lg px-4 py-2 text-center text-2xl font-semibold outline-none transition duration-100 md:text-base border border-2 border-gray-300">
            <i class="fa-solid fa-bars" @click="navbarModalOpen = true"></i>
        </div>
        {% assign sorted_pages = site.pages | sort:"navbar" %}
        {% for this_page in sorted_pages %}
            {% if this_page.navbar and this_page.navbar != -1 %}
                <a href=".{{this_page.url}}" class="hidden
                    rounded-lg 
                    px-8 py-3
                    {% if this_page.navbar == 9 %}bg-gray-200{% endif %}
                    text-center text-sm {% if this_page.url == page.url %}font-black{% else %}font-semibold{% endif %} text-gray-500
                    outline-none ring-indigo-300
                    transition duration-100 {% if this_page.navbar == 9 %}hover:bg-gray-300{% else %}hover:bg-gray-100{% endif %} focus-visible:ring
                    active:text-gray-700
                    md:text-base lg:inline-block">{{this_page.title}}</a>
            {% endif %}
        {% endfor %}
    </nav>
    <!-- buttons - end -->
    
    
    <div class="fixed top-0 left-0 overflow-y-auto overflow-hidden z-[10000] w-full translate-x-0 bg-gray-800 flex flex-col p-5 transform-gpu duration-300 -translate-y-full" :class="navbarModalOpen ? 'translate-y-0' : ''">
        {% assign sorted_pages = site.pages | sort:"navbar" %}
        {% for this_page in sorted_pages %}
            {% if this_page.navbar and this_page.navbar != -1 %}
                <a href=".{{this_page.url}}" class="
                    rounded-lg 
                    px-8 py-3
                    {% if this_page.navbar == 9 %}border border-gray-300{% endif %}
                    text-center text-sm {% if this_page.url == page.url %}font-black{% else %}font-bold{% endif %} text-gray-300
                    outline-none ring-indigo-300
                    transition duration-100 {% if this_page.navbar == 9 %}hover:bg-gray-300{% else %}hover:bg-gray-100{% endif %} focus-visible:ring
                    active:text-gray-700
                    md:text-base inline-block">{{this_page.title}}</a>
            {% endif %}
        {% endfor %}
        <div class="block px-4 pt-6 pb-2 text-center text-2xl font-semibold outline-none transition duration-100 md:text-base text-white">
            <i class="fa-solid fa-xmark" @click="navbarModalOpen = false"></i>
        </div>
    </div>
</header>