<header class="mb-4 flex items-center justify-between py-4 md:py-8">
    <!-- logo - start -->
    <a href="/" class="text-black-800 inline-flex items-center gap-2.5 text-2xl font-bold md:text-3xl" aria-label="logo">
        <img src="{{site.baseurl}}/assets/img/AppBarLogoB.png" loading="lazy" alt="AppBar Ltd. Logo" width="150" class="object-cover" />
    </a>
    <!-- logo - end -->
    <!-- buttons - start -->
    <nav class="hidden gap-5 lg:flex">
        <a href="#" class="hidden
                            rounded-lg 
                            px-8 py-3
                            text-center text-sm font-semibold text-gray-500
                            outline-none ring-indigo-300
                            transition duration-100 hover:bg-gray-200 focus-visible:ring
                            active:text-gray-700
                            md:text-base lg:inline-block">About</a>
        <a href="#" class="hidden
                            rounded-lg 
                            px-8 py-3
                            text-center text-sm font-semibold text-gray-500
                            outline-none ring-indigo-300
                            transition duration-100 hover:bg-gray-200 focus-visible:ring
                            active:text-gray-700
                            md:text-base lg:inline-block">Pricing</a>
        <a href="#" class="hidden
                            rounded-lg 
                            bg-gray-200
                            px-8 py-3
                            text-center text-sm font-semibold text-gray-500
                            outline-none ring-indigo-300
                            transition duration-100 hover:bg-gray-300 focus-visible:ring
                            active:text-gray-700
                            md:text-base lg:inline-block">Download</a>
    </nav>
    <!-- buttons - end -->
</header>