---
layout: default
---

<!-- hero - start -->
<div class="bg-white pb-6 sm:pb-8 lg:pb-12">
	<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
		{% include navigation.html %}
		<section class="min-h-96 relative flex flex-1 shrink-0 items-center justify-center overflow-hidden rounded-lg bg-gray-100 py-16 shadow-lg md:py-20 xl:py-48">
			<!-- image - start -->
			<img src="{{site.baseurl}}/assets/img/nasa-Q1p7bh3SHj8-unsplash.jpg" loading="lazy" alt="Photo by Nasa from Unsplash" class="absolute inset-0 h-full w-full object-cover object-center" />
			<!-- image - end -->
			<!-- overlay - start -->
			<div class="absolute inset-0 bg-indigo-200 mix-blend-multiply"></div>
			<!-- overlay - end -->
			<!-- text start -->
			<div class="relative flex flex-col items-center p-4 sm:max-w-xl">
				<!-- <p class="mb-4 text-center text-lg text-indigo-200 sm:text-xl md:mb-8">Very proud to introduce</p> -->
				<img src="{{site.baseurl}}/assets/img/WhatsOnLogo.png" loading="lazy" alt="What's On Logo" class="object-cover md:mb-32 w-64" />
				<!-- <h1 class="mb-8 text-center text-4xl font-bold text-white sm:text-5xl md:mb-12 md:text-6xl">Revolutionary way to build the web</h1> -->
				<!-- <h1 class="mb-4 text-center text-lg font-black text-indigo-200 sm:text-3xl md:mb-8 font-empasis">Social Media Re-imagined</h1> -->
				<div class="flex w-full flex-col gap-2.5 sm:flex-row sm:justify-center">
					<a href="#features" class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Take a tour</a>
				</div>
			</div>
			<!-- text end -->
		</section>
	</div>
</div>
<!-- hero - end -->

<div class="bg-white py-6 sm:py-8 lg:py-32 flex flex-col" id="features">
	{% for feature in site.data.home.features %}
		<div class="mx-auto max-w-screen-2xl px-4 md:px-8 flex justify-center flex-col {% cycle 'md:flex-row', 'md:flex-row-reverse' %}">
			<div class="relative overflow-hidden rounded-lg bg-gray-100 shadow-lg z-[{{ forloop.index0 | plus:10 }}] {% cycle 'md:top-16 md:left-48 lg:-ml-48', 'md:-top-8 md:right-48 lg:-mr-48' %}">
				<img src="{{site.baseurl}}/assets/img/{{ feature.image_name }}" loading="lazy" alt="" class="h-full w-full object-cover object-center" />
			</div>
			<div class="overflow-hidden rounded-lg bg-gray-100 md:shadow-xl z-[{{ forloop.index | plus:10 }}] flex flex-col justify-center text-center h-max w-1/3 md:py-8 md:px-12 justify-end {% cycle '', 'md:mt-auto' %}">
				<p class="text-sm tracking-wider uppercase pb-2">0{{ forloop.index }}</p>
				<h3 class="text-3xl">{{ feature.title }}</h3>
				<p class="mt-4 text-xl font-extralight">
					{{ feature.description }}
				</p>
			</div>
		</div>
	{% endfor %}
</div>
