---
layout: page
---

<div class="bg-white pb-6 sm:pb-8 lg:py-12">
	<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
		<p class="mb-2 font-semibold text-indigo-500 md:mb-3 lg:text-lg">
			{{ site.data.downloads.introduction.subtitle }}
		</p>
  
	  	<h2 class="mb-4 text-2xl text-gray-800 md:mb-6 lg:text-3xl">
			{{ site.data.downloads.introduction.title }}
		</h2>
	
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-8">

            <p class="max-w-screen-md text-gray-500 md:text-lg">
                {{ site.data.downloads.introduction.first_column }}
            </p>

            <p class="max-w-screen-md text-gray-500 md:text-lg">
                {{ site.data.downloads.introduction.second_column }}
            </p>
        </div>
	</div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl text-gray-800 md:mb-6 lg:text-3xl">
                Project Planning and Management
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
            {% for category in site.data.downloads.project_downloads %}
                <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                    <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                        <img src="{{site.baseurl}}/assets/img/downloads/{{ category.image }}" loading="lazy" alt="{{ category.name }}" class="h-full w-full object-cover object-center" />
                    </div>
                    <div class="flex flex-col col-1">
                        <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">{{ category.title }}</div>
                        {% for file in category.files %}
                            <a href="{{site.baseurl}}/assets/internal-documents/{{ file.filepath }}" class="mb-0 text-center text-sm text-gray-500 md:mb-1 md:text-base">
                                {{ file.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl text-gray-800 md:mb-6 lg:text-3xl">
                Development
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
            {% for category in site.data.downloads.development_downloads %}
                <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                    <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                        <img src="{{site.baseurl}}/assets/img/downloads/{{ category.image }}" loading="lazy" alt="{{ category.name }}" class="h-full w-full object-cover object-center" />
                    </div>
                    <div class="flex flex-col col-1">
                        <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">{{ category.title }}</div>
                        {% for file in category.files %}
                            <a href="{{site.baseurl}}/assets/internal-documents/{{ file.filepath }}" class="mb-0 text-center text-sm text-gray-500 md:mb-1 md:text-base">
                                {{ file.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl text-gray-800 md:mb-6 lg:text-3xl">
                Documentation
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
            {% for category in site.data.downloads.documentation_downloads %}
                <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                    <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                        <img src="{{site.baseurl}}/assets/img/downloads/{{ category.image }}" loading="lazy" alt="{{ category.name }}" class="h-full w-full object-cover object-center" />
                    </div>
                    <div class="flex flex-col col-1">
                        <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">{{ category.title }}</div>
                        {% for file in category.files %}
                            <a href="{{site.baseurl}}/assets/internal-documents/{{ file.filepath }}" class="mb-0 text-center text-sm text-gray-500 md:mb-1 md:text-base">
                                {{ file.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl text-gray-800 md:mb-6 lg:text-3xl">
                Finance
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
            {% for category in site.data.downloads.finance_downloads %}
                <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                    <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                        <img src="{{site.baseurl}}/assets/img/downloads/{{ category.image }}" loading="lazy" alt="{{ category.name }}" class="h-full w-full object-cover object-center" />
                    </div>
                    <div class="flex flex-col col-1">
                        <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">{{ category.title }}</div>
                        {% for file in category.files %}
                            <a href="{{site.baseurl}}/assets/internal-documents/{{ file.filepath }}" class="mb-0 text-center text-sm text-gray-500 md:mb-1 md:text-base">
                                {{ file.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl text-gray-800 md:mb-6 lg:text-3xl">
                Marketing & Design
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
            {% for category in site.data.downloads.marketing_downloads %}
                <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                    <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                        <img src="{{site.baseurl}}/assets/img/downloads/{{ category.image }}" loading="lazy" alt="{{ category.name }}" class="h-full w-full object-cover object-center" />
                    </div>
                    <div class="flex flex-col col-1">
                        <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">{{ category.title }}</div>
                        {% for file in category.files %}
                            <a href="{{site.baseurl}}/assets/internal-documents/{{ file.filepath }}" class="mb-0 text-center text-sm text-gray-500 md:mb-1 md:text-base">
                                {{ file.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl text-gray-800 md:mb-6 lg:text-3xl">
                QC & Testing
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
            {% for category in site.data.downloads.qc_downloads %}
                <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                    <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                        <img src="{{site.baseurl}}/assets/img/downloads/{{ category.image }}" loading="lazy" alt="{{ category.name }}" class="h-full w-full object-cover object-center" />
                    </div>
                    <div class="flex flex-col col-1">
                        <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">{{ category.title }}</div>
                        {% for file in category.files %}
                            <a href="{{site.baseurl}}/assets/internal-documents/{{ file.filepath }}" class="mb-0 text-center text-sm text-gray-500 md:mb-1 md:text-base">
                                {{ file.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>