---
layout: page
---

<div class="bg-white pb-6 sm:pb-8 lg:py-12">
	<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
		<p class="mb-2 font-semibold text-indigo-500 md:mb-3 lg:text-lg">
			A hub for all our company's internal documents
		</p>
  
	  	<h2 class="mb-4 text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">
			Download our internal documents
		</h2>
	
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-8">

            <p class="max-w-screen-md text-gray-500 md:text-lg">
                In this section, you will find a comprehensive collection of documents that offer deep insights into our business operations, strategies, and future plans. These resources are carefully curated to empower you with the knowledge you need to navigate our partnership and investment opportunities confidently.
            </p>

            <p class="max-w-screen-md text-gray-500 md:text-lg">
                This page provides a wide range of materials covering various aspects of our organization. Whether you're conducting due diligence, seeking detailed financial insights, or exploring our product offerings, this page serves as a comprehensive resource center at your fingertips.
            </p>
        </div>
	</div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">
                Project Planning and Management
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-dev.jpeg" loading="lazy" alt="Software Dev" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Functional Specification</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Ideation</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>


            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Planning</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">
                Development
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-dev.jpeg" loading="lazy" alt="Software Dev" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Client App</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Server Software</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>


            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Example Multimedia Presentations</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Intergroup Contracts</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Project Wide Specification (PWS)</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Version Control</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">
                Documentation
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-dev.jpeg" loading="lazy" alt="Software Dev" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Commenting Exemplar</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Documentation Admin</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>


            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">First Iteration</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">QA Manual</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">User Manual</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Archive</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">
                Finance
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-dev.jpeg" loading="lazy" alt="Software Dev" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Financial Business Plan</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Financial Reports</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Timesheet</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>


            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Archive</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">
                Marketing & Design
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-dev.jpeg" loading="lazy" alt="Software Dev" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Presentations</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Design Documentation</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Branding</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>


            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">YUSU Declaration of Interest</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Surveys</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Development Assets</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">HTML Tour Planning</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">
                QC & Testing
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-dev.jpeg" loading="lazy" alt="Software Dev" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Testing & Integration Plans</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center rounded-lg bg-gray-100 p-4 lg:p-8">
                <div class="mb-2 h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-lg md:mb-4 md:h-32 md:w-32">
                    <img src="{{site.baseurl}}/assets/img/about/team/software-test.jpeg" loading="lazy" alt="Software Test" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                    <div class="text-center font-bold text-indigo-500 md:text-lg mb-3">Testing & Integration Reports</div>
                    <p class="mb-3 text-justify text-sm text-gray-500 md:mb-4 md:text-base">
                        Content here
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>